
@using MyTiresPlus.Web.ViewModels.Home
@using MyTiresPlus.Common


@using MyTiresPlus.Web.Service;
@inject IshortStringservice Gservise;

@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";

}
@Html.EditorForModel()
<partial name="_HomePageStart" model="Model.Name"/>

<vc:asda ...></vc:asda>

<div class="text-center" >
    @for (int i = 0; i < 10; i++)
    {
        if (i % 2 == 0)
        {
            @:GG

        }
        //Comment
    }
    <p>@@</p>
    <p>Time@(DateTime.Now)</p>
    <p>Time@abv.bg</p>
    <p>@(Model.Year / 4)</p>
    <!-- HTML   Comment -->
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    }
    else
    {
        <h2 class="display-4">Welcome, @Model.Name </h2>
    }

    <h3 class="form-control" col-md-3>It @Model.Year year.</h3>
    <p class="form-control" col-md-3>We hawe @Model.UserCount users</pclass="form-control">
    <p class="form-control" col-md-3>ProcesorCount: @Model.ProcesorCount</p>
    <p class="form-control" col-md-3>Time: @Model.DataTime</p>
    <p class="form-control" col-md-3>Id: @Model.Id</p>
    <p class="form-control" col-md-3>@Gservise.GetShort(Model.Email, 27)</p>
    @*
            <div class="text-center">
            <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
            <h2 class="display-4">Welcome, @ViewData["Name"] </h2>
            <h3>It @ViewData["Year"] year.</h3>
            <p>We hawe @ViewData["UsersCount"] users</p>
            <p>@Environment.ProcessorCount</p>
            <p>@DateTime.Now</p>
          <p>@this.User.Identity.Name</p>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    *@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>